<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>股票</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
</head>
<body class="layui-anim layui-anim-up">

<div class="x-body" style="padding-top: 10px">
    <xblock>
        <button class="layui-btn" onclick="x_admin_show('开盘价平均值','/fun1',400,200)">计算开盘价平均值</button>
        <button class="layui-btn" onclick="x_admin_show('交易量最大值','/fun2',400,200)">计算交易量最大值</button>
        <button class="layui-btn" onclick="x_admin_show('交易额最小值','/fun3',400,200)">计算交易额最小值</button>
    </xblock>
    <table class="layui-hide" id="demo"></table>
</div>

<script type="text/javascript" th:inline="javascript">
    layui.use('table', function(){
        var table = layui.table;

        //执行一个 table 实例
        table.render({
            elem: '#demo',
            url: [[@{~/findDataPage}]],
            title: '用户表',
                page: true, //开启分页
                cols: [
                [ //表头
                    {
                        field: 'id',
                        title: 'ID',
                        sort: true
                    }, {
                    field: 'date',
                    title: '时间'
                }, {
                    field: 'b_c_price',
                    title: '前收盘价'
                }, {
                    field: 'o_price',
                    title: '开盘价',
                    sort: true
                }, {
                    field: 'top_price',
                    title: '最高价'
                }, {
                    field: 'floor_price',
                    title: '最低价'
                }, {
                    field: 'c_price',
                    title: '收盘价'
                }, {
                    field: 'trade_num',
                    title: '交易量'
                }, {
                    field: 'trade_money',
                    title: '交易额'
                }
                ]
            ]
        });
    });
</script>
</body>
</html>